SUPABASE_DB_URL=supabaseurl
SUPABASE_DB_USER=supabaseuser
SUPABASE_DB_PASSWORD=supabasedbpassword
SUPABASE_URL=yoursupabaseurl
SUPABASE_SERVICE_KEY=yourbucketservicekey
JWT_SECRET=yourjwtsecret
SUPABASE_BUCKET=yourbucket